/*------Global ----- */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Bungee Inline', 'Londrina Solid', cursive;
    width: auto;
    height: auto;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow-x: hidden;
    text-align: center;
  }
  #flipHair{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #flipEyes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #flipNose{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #flipMouth{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #flipNeck{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }